.card {
    width: calc( 75 vw -200 px);
    margin:20px;
}
.card-body:hover {
    box-shadow: 0 0 30px rgba(33,33,33,.2); 
  }

.card-text {
    font-size:20px;
}
.card-body{
    transition: box-shadow .3s;
    text-align:left;
}
.card-title{
    font-weight:550;
}
.price {
    font-weight:500;
}