.file-form {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.option-section {
    border:solid 2px grey;
    width:80%;
    padding:20px;
    margin:10px;
}

.option-form{
    display:flex;
    flex-direction:column;
    align-items: center;
}